

#header{
    height: 34px;
    background: #F7F7F7;
}
.header{
    /*width: 1200px;*/
    height: 34px;
    background: #F7F7F7;
}
.header .headerfri{
    float:left;
    font-size:10px;
    line-height: 34px;
    color:#969696;
    width: 550px;
    height: 34px;
}
.header .headerfri #cityChoice{
    float:left;
}
/*.header div .logi{
    float: left;
    font-size: 10px;
    line-height: 34px;
    color: #969696;
)*/
/*===================================*/
.hzw-city-picker{
    position: absolute;
    border: 2px solid #c9cbce;
    width: 402px;
    background: #ffffff;
    z-index: 999999;
    font-size: 0;
}
.hzw-city-picker:before, .hzw-city-picker:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    left: 20px;
    z-index: 999999;
}
.hzw-city-picker:before{
    border-color: transparent transparent #ffffff;
    top: -17px;
    z-index: 9999999;
}
.hzw-city-picker:after{
    border-color: transparent transparent #c9cbce;
    top: -20px;
}
.hzw-city-picker *{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    color: #666666;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.hzw-city-picker ul{
    list-style: none;
}
.hzw-city-picker ul li{
    display: inline-block;
    position: relative;
    margin: 4px;
    cursor: pointer;
}
.hzw-city-picker p{
    font-weight: bold;
    padding: 0 4px;
    margin-top: 4px;
    margin-bottom: 10px;
}
.hzw-city-picker .line{
    width: 372px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 4px;
    border-bottom: 1px solid #d8d8d8;
}

/*热门城市*/
.hzw-city-picker .hzw-hot-wrap{
    width: 100%;
    background: #ffffff;
    padding: 9px;
}
.hzw-city-picker .hzw-hot-wrap ul li{
    width: 68px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #666666;
    background-color: #f5f5f5;
}
.hzw-city-picker .hzw-hot-wrap ul li:hover{
    color: #ff00ff;
}

/*选择省份*/
.hzw-city-picker .hzw-wrap{
    position: relative;
    width: 100%;
    background: #ffffff;
    padding: 9px;
}
.hzw-city-picker .hzw-province-name{
    display: inline-block;
    width: 68px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: relative;
    background-color: #f5f5f5;
}
.hzw-city-picker .hzw-province-name:hover{
    color: #ff00ff;
}

.hzw-city-picker .hzw-province.active{
    z-index: 999999999;
}
.hzw-city-picker .hzw-province-name.active{
    border: 1px solid #D8D8D8;
    border-bottom-color: #ffffff;
    color: #ff00ff;
    background-color: #ffffff;
}
.hzw-city-picker .hzw-city-wrap{
    display: none;
    border: 1px solid #D8D8D8;
    background: #ffffff;
    position: absolute;
    top: 39px;
    width: 328px;
    padding: 10px;
}
.hzw-city-picker .hzw-city{
    width: 68px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #999999;
    background-color: #f5f5f5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hzw-city-picker .hzw-city:hover{
    color: #ff00ff;
}





/*===================================*/
.header form{
    float:left;
}
.header span:nth-of-type(1){
    float:left;
}
.header span:nth-of-type(2){
    float:right;
}
.header .headerul>li{
    float:left;
    font-size:10px;
    line-height: 34px;
    color:#969696;
    padding:0px 10px;
}
.header .headerul li:nth-of-type(2){
    position: relative;
}
.header .headerul li:nth-of-type(2):hover{
    background: #fff;
}
.header .headerul li:nth-of-type(2) .ulyou{
    display:none;
}
.header .headerul li:nth-of-type(2):hover .ulyou{
    display:block;
    position:absolute;
    top: 34px;
    right: 0px;
    z-index: 1;
    border: 1px solid #ccc;
}
.header .headerul li:nth-of-type(2):hover .ulyou>li{
    height: 25px;
    width: 78px;
    background: #fff;

}
.header .headerul li:nth-of-type(2):hover .ulyou>li a{
    font-size:10px;
    line-height: 25px;
}
.header .headerul li:nth-of-type(3){
    position: relative;
}
.header .headerul .mobile{
    width: 230px;
    height: 170px;
    background: #fff;
    border: 1px solid #ccc;
    display:none;
    position:absolute;
    top: 34px;  
    left: -70px;
    z-index: 1;
}
.header .headerul li:nth-of-type(3):hover .mobile{
    display: block;
}




.header .headerul li:nth-of-type(5){
    position: relative;
}
.header .headerul li:nth-of-type(5):hover{
    background: #fff;
}
.header .headerul li:nth-of-type(5) .ulhelp{
    display:none;
}
.header .headerul li:nth-of-type(5):hover .ulhelp{
    display:block;
    position:absolute;
    top: 34px;
    right: 0px;
    z-index: 1;
    border: 1px solid #ccc;
}
.header .headerul li:nth-of-type(5):hover .ulhelp>li{
    height: 25px;
    width: 78px;
    background: #fff;
    z-index: 1;
}
.header .headerul li:nth-of-type(5):hover .ulhelp>li a{
    font-size:10px;
    line-height: 25px;
}
.header .headerul li:nth-of-type(6){
    position: relative;
}
.header .headerul .sitenav{
    display: none;
    width: 820px;
    height: 166px;
    background: #fff;
    z-index: 1;
    border: 1px solid #ccc;
}
.header .headerul li:nth-of-type(6):hover .sitenav{
    display: block;
    position:absolute;
    top: 34px;
    right: 10px;

}
.header .headerfri .tuichu{
    float:left;
    display: none;
    margin: 8px 5px 0px 5px;
    background: #F7F7F7;
    /*display: inline-block;*/
    /*width: 15px;*/
}
.header .headerfri .tuichu:hover{
    color: red;
}
.header .headerfri .logi{
    float:right;
    height: 34px;
    width: 300px;
}
.header .headerfri .logi p{
    float: left;
}
.header .headerfri .logi a{
    float:left;
}
.header .headerfri .logi button{
    float:left;
}


/*logo*/
#logo{
    height: 104px;
    /*background: pink;*/
}
#logo .logo{
    /*width: 1200px;*/
    height: 104px;
    /*background: red;*/
}
#logo .logo .logo_1{
    float:left;
    width: 300px;
    padding:5px 0px 0px 0px;
}
#logo .search{
    float:left;
    
}
#logo .search input:nth-of-type(1){
    float:left;
    width: 338px;
    height: 36px;
    border: 1px solid #669900;
    margin: 28px 0px 0px 0px;
    padding: 0px 0px 0px 3px;
}
#logo .search input:nth-of-type(2){
    float:left;
    width: 80px;
    height: 36px;
    border: 1px solid #669900;
    background: url(../images/Logosearch.png) no-repeat;
    margin: 28px 0px 0px 0px;
}
#logo .search a{
    font-size: 10px;
    line-height: 22px;
    color:#969696; 
}
#logo .shopping{
    float:right;
    width: 196px;
    height: 36px;
    /*background: yellow;*/
    margin: 28px 0px 0px 0px;
    border: 1px solid #ccc;
    position: relative;  
}
#logo .shopping>span{
    float:right;
    font-size: 20px;
    line-height: 34px;
    color: #fff;
    text-align: center;
    width: 34px;
    height: 34px;
    background: orange;
}
#logo .shopping .shoppingCart{
    display: none;
    width: 365px;
    height: 85px;
    background: #fff;
    border: 1px solid #ccc;
}
#logo .shopping:hover{
    border-bottom: none;
}
#logo .shopping:hover .shoppingCart{
    display: block;
    position: absolute;
    top: 34px;
    right: 0px;
    z-index: 1;
}



/*nav*/
#nav{
    height: 39px;
    background: #FFFFFF;
    
}
#nav .nav{
    height: 39px;
    border-bottom: 2px solid #669900;
    /*position: relative;*/
}

/*navsort*/
#nav .nav .navsort{
   /* position: absolute;
    top: 0px;
    left: 200px;*/
    /*background: red;*/
} 
#nav .nav .navsort>li{
    float: left;
    padding: 0px 25px;
}
#nav .nav .navsort>li a{
    font-size: 15px;
    line-height: 32px;
    font-weight: 600;
    color: #231714;
}
#nav .nav .navsort>li:nth-of-type(1){
    width: 200px;
    height: 39px;  
    background: #679801;
    text-align: center;
}
#nav .nav .navsort>li:nth-of-type(1) a{
    font-size: 15px;
    line-height: 37px;
    font-weight: 600;
    color: #fff;
}
/*=================*/
#nav .nav .navsort .allsort{
    position: relative;
}
#nav .nav .navsort .allsort:hover .navmenu{
    display: block;
}
#nav .nav .navsort .allsort .navmenu{
    display: none;
    width: 200px;
    height: 480px;
    background: #669900;
    position:absolute;
    top: 34px;
    left: 0px;
}
#nav .nav .navsort .allsort .navmenu .sort{
    width: 200px;
    height: 60px;
    padding: 13px 5px 0px 5px;
    /*position: relative;*/
}
#nav .nav .navsort .allsort .navmenu .sort i{
    float: left;
    font-size: 16px;
    padding: 0px 6px 0px 12px;
    color: #fff;
}
#nav .nav .navsort .allsort .navmenu .sort h3 a{
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    text-align: left;
}
#nav .nav .navsort .allsort .navmenu .sort ul li{
    float: left;
}
#nav .nav .navsort .allsort .navmenu .sort:hover .sortson{
    display: block;
}
#nav .nav .navsort .allsort .navmenu .sort .sortson{
    display: none;
    width: 500px;
    height: 475px;
    background: #fff;
    position: absolute;
    top: 5px;
    left: 200px;
    z-index: 1;
}
#nav .nav .navsort .allsort .navmenu .sort .sortson dl{
    float: left;
    /*display: inline-block;*/
    width: 540px;
    height: 50px;
    padding: 30px 0px 0px 0px;

}
#nav .nav .navsort .allsort .navmenu .sort .sortson dt{
    float: left;
    width: 100px;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: right;
    color: #69AF05;
    padding: 2px 10px 5px 20px;
    margin: 0px 0px 10px 0px;

}
#nav .nav .navsort .allsort .navmenu .sort .sortson dl dd{
    float: left;
    /*width: 52px;*/
    height: 20px;
    margin: 0px 0px 5px 0px;
}
#nav .nav .navsort .allsort .navmenu .sort .sortson dl dd a{
    /*display: inline-block;*/
    float: left;
    font-size: 12px;
    line-height: 12px;
    color: #9999B3;
    /*width: 50px;*/
    /*height: 15px;*/
    border-left: 1px solid #ccc;
    padding: 2px 6px 2px 6px;
}
#nav .nav .navsort .allsort .navmenu .sort .sortson dl dd a:hover{
    color: #69AF05;
}







/*main*/
#main{
    /*height: 100%;*/
    /*float:left;*/
    /*height: 600px;*/
}
#main .main{
    /*height: 600px;*/
    /*height: 100%;*/
    /*background: red;*/
}
/*==============table======================*/
#main .main table{
    /*height: 100%;*/
    /*overflow: hidden;*/
}
#main .main table thead{
    /*width: 1000px;*/
    /*height: 34px;*/
    background: #81A84A;
}
#main .main table thead tr{
    width: 1000px;
    height: 34px;
    background: #81A84A;
}
#main .main table thead tr th{
    font-size: 14px;
    color: #fff;
    line-height: 34px;
}
#main .main table thead tr th:nth-of-type(1){
    width: 70px;
}
#main .main table thead tr th:nth-of-type(2){
    width: 300px;
}
#main .main table thead tr th:nth-of-type(3){
    width: 60px;
}
#main .main table thead tr th:nth-of-type(4){
    width: 130px;
}
#main .main table thead tr th:nth-of-type(5){
    width: 70px;
}
#main .main table thead tr th:nth-of-type(6){
    width: 120px;
}
#main .main table thead tr th:nth-of-type(7){
    width: 80px;
}
#main .main table thead tr th:nth-of-type(8){
    width: 85px;
}
#main .main table thead tr th:nth-of-type(9){
    width: 85px;
}
#main .main table tbody tr{
    height: 102px;
    border: 1px solid #CCC;
}
#main .main table tbody tr td{
    height: 102px;
    text-align: center;
}
#main .main table tbody tr td:nth-of-type(2) h3{
    padding: 0px 0px 0px 3px;
}
#main .main table tbody tr td:nth-of-type(5) span{
    /*display: inline-block;*/
    float: left;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    line-height: 15px;
    text-align: center;
    /*margin: 10px 2px 0px 0px;*/
}
#main .main table tbody tr td .shuliang{
    float: left;
    width: 35px;
    height: 15px;
    border: 1px solid #ccc;
    text-align: center;
}





#main .main table tbody tr td:nth-of-type(1 ){
    height: 102px;
    padding: 0px 0px 0px 25px;
}
#main .main table tbody tr td img{
    border: 1px solid #ccc;
    width: 62px;    
    height: 62px;
    float: left;
}
#main .main table tbody tr td h3{
    float: left;
    font-size: 12px;
}
#maindown .maindown{
    /*float: left;*/
    width: 1000px;
    height: 50px;
    /*background: green;*/
}
#maindown .maindownlef{
    float:left;
    width: 500px;
    height: 50px;
}
#maindown .maindownlef .removeSelect{
    border: 0;
    color: #6B6B6B;
    cursor: pointer;
    height: 18px;
    line-height: 18px;
    margin: 15px;
    overflow: hidden;
    padding: 0 0 0 15px;
    text-align: left;
    width: 130px;
}
#maindown .maindownlef .resetCart{
    border: 0;
    color: #6B6B6B;
    cursor: pointer;
    height: 18px;
    line-height: 18px;
    margin: 15px;
    overflow: hidden;
    padding: 0 0 0 15px;
    text-align: left;
    width: 110px;
}
#maindown .maindownrig{
    float:right;
    width: 500px;
    height: 50px;
    padding: 5px 0px 0px 330px;
}
#maindown .maindownrig span{
    float：left;
    /*float:right;*/
    height: 18px;
    /*line-height: 18px;*/
}
#maindown .maindownrig .sptotal{
    font-size: 25px;
    color: red;
    font-weight: 600;
    margin: 50px 0px 0px 0px;
}



/*footer*/
#footer{
    /*margin: 100% auto;*/

    /*position: absolute;*/
    /*float:left;*/
    display: inline-block;
    height: 285px;
    border-top: 1px solid #ccc;
    margin: 0px 13%;
}
#footer .footer{
    width: 1000px;
    height: 285px;
}
#footer .footer .foot{
    float:left;
    height: 180px;
    padding: 20px 0px 0px 0px;
}
#footer .footer .foot .footleft{
    float: left;
    width: 152px;
    margin: 0px 85px 0px 0px;
}
#footer .footer .foot .footleft h3{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #646464;
    margin: 44px 0px 0px 0px;
}
#footer .footer .foot .footleft p{
    font-size: 12px;
    line-height: 30px;
    color: #969696;
}

#footer .footer .foot .footmid{
    margin: 20px 0px 0px 0px;
}
.footer .foot .footmid ul{
    float: left;
    width: 128px;
}
#footer .footer .foot .footmid ul li a{
    font-size: 12px;
    line-height: 24px;
    color: #646464;
}
#footer .footer .foot .footmid ul li:nth-of-type(1){
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: #707070;
    padding: 0px 0px 6px 0px;
}
#footer .footer .foot .footmid ul li a:hover{
    color: #76AC25;
}
#footer .footer .foot .footright{
    float: left;
}
#footer .footer .foot .footright ul{
    float: left;
    width: 125px;
}
#footer .footer .foot .footright ul li:nth-of-type(1){
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: #707070;
    padding: 0px 0px 12px 0px;
}
#footer .footer .foot .footright ul li:nth-of-type(1) a{
    color: #707070;

}
#footer .footer .foot .footbottom{
    float: left;
    /*width: 1200px;*/
    height: 65px;
    padding: 15px 0px 0px 0px;
    border-top: 1px solid #ccc;
}
#footer .footer .foot .footbottom>a{
    float: left;
    margin: 5px 5px 0px 0px;
}
#footer .footer .foot .footbottom p{
    float: left;
    margin: 0px 0px 0px 0px;
}
#footer .footer .foot .footbottom p span{
    font-size: 12px;
    line-height: 12px;
    color: #969696;
    padding: 0px 10px 0px 10px;
}
#footer .footer .foot .footbottom p span a{
    font-size: 12px;
    line-height: 12px;
    color: #646464;
}
#footer .footer .foot .footbottom p:nth-of-type(2) span a{
    color: #969696;
}
#footer .footer .foot .footbottom p span a:hover{
    color: #76AC25;
}
