.color1 {
    color: #58bc58;
}
.color2 {
    color:red;
}
body{
    background: #F5F5F5;
}
#main{
    /*width: 1350px;*/
    height: 786px;
    background: #F5F5F5;
}
#main .main{
    margin: 0 auto;
    width: 1000px;
    height: 786px;
}
#main .main .header{
    height: 91px;
}
#main .main .header img{
    float: left;
    width: 220px;
    height: 70px;
    margin: 10px 22px 11px 0px;
}
#main .main .header h3{
    float: left;
    font-size: 24px;
    line-height: 91px;
}
#main .main .top{
    height: 37px;
    border-bottom: 1px solid #D5D5D5;
    padding: 0px 0px 0px 335px;
}
#main .main .top span{
    display: inline-block;
    width: 162px;
    height: 37px;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
    background: #fff;
    border: 1px solid #D5D5D5;
    border-bottom: 1px solid #fff;
}
#main .main .top p{
    float: right;
    font-size: 12px;
    line-height: 37px;
}
#main .main .top p a{
    color: #3DB54F;
}

#main .main .top p a:hover{
    text-decoration: underline;
}
#main .main .sign{
    height: 535px;
    background: #fff;
    padding: 45px 0px 0px 40px;
    background: url("../images/signinbg.png") no-repeat;
    position: relative;
}
#main .main .sign #myform{
    height: 450px;
}
#main .main .sign #myform .label{
    /*display: inline-block;*/
    float: left;
    width: 120px;
    height: 40px;
    font-size: 16px;
    line-height: 38px;
    text-align: right;
    /*margin: 0px 0px 30px 0px;*/
}

#main .main .sign #myform i{
    color: red;
    text-align: center;
    font-size: 16px;
    line-height: 38px;
    margin: 0px 10px 0px 0px;
}
#main .main .sign #myform .textbox{
    /*float: left;*/
    width: 270px;
    height: 38px;
    border: 1px solid #CDCDCD;
    margin: 0px 0px 30px 0px;
}
#main .main .sign #myform .textbox2{
    width: 70px;
    height: 38px;
    border: 1px solid #CDCDCD;
}
#main .main .sign #myform .tip{
    font-size: 10px;
    position: absolute;
    left: 445px;
    top: 55px;
}
#main .main .sign #myform .pwdtip{
    width: 240px;
    font-size: 10px;
    position: absolute;
    left: 445px;
    top: 115px;
}
/*#main .main .sign #myform .pwdtip2{
    width: 240px;
    font-size: 10px;
    position: absolute;
    left: 445px;
    top: 125px;
}*/
#main .main .sign #myform .pwdcontip{
    font-size: 10px;
    position: absolute;
    left: 445px;
    top: 190px;
}
#main .main .sign #myform #canvas{
    width: 100px;
    height: 38px;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: pointer;
}
#main .main .sign #myform .yzmtip{
    font-size: 10px;
    position: absolute;
    left: 350px;
    top: 260px;
}
#main .main .sign #myform span{
    float: left;
    margin: 30px 550px 0px 0px;
}

#main .main .sign #myform span a{
    font-size: 12px;
    line-height: 18px;
    color: #000;
}
#main .main .sign #myform span i{
    font-size: 12px;
    line-height: 18px;
    color: #6E9B0C;
}
#main .main .sign #myform span a:hover{
    text-decoration: underline;
    text-decoration-color: #6E9B0C;
}
#main .main .sign #myform .btn{
    display: inline-block;
    /*float：left；*/
    height: 38px;
    width: 270px;
    font-size: 16px;
    color: #fff;
    margin: 20px 0px 0px 120px;
    background: #6E9B0C;
    border-radius: 5px;
}














